<div class="small-product-card">
    <div class="container">
        <div class="left">
            <div class="right-text">
                <div class="flex">
                    <div>
                        <h3>
                            LARQ Pitcher PureVis™
                        </h3>
                        <h6>
                            Pure water beyond filtration.
                        </h6>
                    </div>
                    <div class="right-button">
                        <span>Pre-order</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="left right">
            <div class="right-text">
                <div class="flex">
                    <div>
                        <h3>
                            LARQ Bottle Movement PureVis™
                        </h3>
                        <h6>
                            Self cleaning & light as air.
                        </h6>
                    </div>
                    <div class="right-button">
                        <span>Pre-order</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>