<div class="header">
    <div class="left">
       <div class="logo" (click)="goTo('')">Deep's Store</div> 
    </div>

    <div class="right">
        <ul>
            <li>
                <div class="dropdown-btn">Products <i class="iconChange fa fa-angle-down" aria-hidden="true"></i></div>
                <!-- TODO Change icon animation -->
                <div class="dropdown">
                    <div class="left">
                        <div class="flex">
                            <div class="product">
                                <img class="header-product-img" src="../../../../assets/images/2.jpg">
                                <span class="header-product-title">MacBook Pro</span>
                                <span class="header-product-text">Keeps things chilled or hot.</span>
                            </div>
                            <div class="product">
                                <img class="header-product-img" src="../../../../assets/images/2.jpg">
                                <span class="header-product-title">MacBook Pro</span>
                                <span class="header-product-text">Keeps things chilled or hot.</span>
                            </div>
                            <div class="product">
                                <img class="header-product-img" src="../../../../assets/images/2.jpg">
                                <span class="header-product-title">MacBook Pro</span>
                                <span class="header-product-text">Keeps things chilled or hot.</span>
                            </div>
                        </div>
                    </div>
                
                    <div class="right">
                        <div class="flex">
                            <div>
                                <span class="title">Shop</span>
                                <span class="text">Laptop</span>
                                <span class="text">Mobile</span>
                                <span class="text">Tablet</span>
                            </div>
                        </div>
                    </div>
                
                </div>
            </li>
            <li>Technology</li>
            <li (click)="goTo('login')">Sign In</li>
            <li>EN <i class="fa fa-globe" aria-hidden="true"></i></li>
            <li><i class="fa fa-shopping-cart cart" aria-hidden="true"></i></li>
        </ul>
    </div>
</div>

