/* You can add global styles to this file, and also import other style files */

// SECTION Common

$primaryColor: #153A5B;
$secondaryColor: #87A19D;
$whiteColor: #FFF;
$greyColor: #777;
$lightColor: #F3756D;

.flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.button {
    border: 2px solid $whiteColor;
    box-shadow: none;
    background-color: $primaryColor;
    color: $whiteColor;
    padding: 7px 25px;
    margin-top: 20px;
    width: fit-content;
    cursor: pointer;
}

.button:hover {
    color: $primaryColor;
    background-color: $whiteColor;
    border-color: $primaryColor;
}

body::-webkit-scrollbar {
    width: 7px;
}
   
body::-webkit-scrollbar-track {
    box-shadow: #f1f1f1;
}
   
body::-webkit-scrollbar-thumb {
    background-color: #999;
}

.big-title {
    margin: 70px auto;
}

.big-title h1 {
    margin: 15px auto;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    color: $primaryColor;
}

.big-title::after {
    left: 50%;
    width: 50px;
    content: "";
    display: block;
    position: absolute;
    margin-left: -25px;
    border-bottom: 6px solid;
    border-bottom-color: $lightColor;
}

// !SECTION

body {
    margin: 0px;
    background-color: $whiteColor;
    font-family: 'Roboto', sans-serif;
}

// SECTION Header

.header {
    height: 10vh;
    background-color: $whiteColor;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    z-index: 100;
    position: sticky;
    top: 0;
}

// SECTION Left

.header .left {
    width: 30%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.header .left .logo {
    font-size: 30px;
    margin-left: 25px;
    height: 100%;
    letter-spacing: 0.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'Satisfy', cursive;
}

// !SECTION

// SECTION Right

.header .right {
    width: 70%;
    height: 100%;
    display: inline-block;
}

.header .right ul {
    list-style-type: none;
    float: right;
    margin: 0px;
    height: 100%;
}

.header .right ul li {
    margin: 0px 20px;
    float: left;
    color: $primaryColor;
    font-weight: 500;
    letter-spacing: 0.1rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .right ul li:hover {
    color: $greyColor;
}

.header .right ul li .cart {
    font-size: 18px;
}

.header .right ul li .fa-globe {
    margin-left: 5px;
}

// !SECTION

// SECTION Dropdown

.dropdown {
    width: 100%;
    height: 0px;
    background-color: $whiteColor;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}

// SECTION Animation

.doFadeIn {
    height: 50vh;
    -webkit-animation: fadeInSlide forwards ease-in 500ms;
    animation: fadeInSlide forwards ease-in 500ms;
}

.doFadeOut {
    height: 50vh;
    -webkit-animation: fadeOutSlideDown forwards ease-out 500ms;
    animation: fadeOutSlideDown forwards ease-out 500ms;
}

@keyframes fadeInSlide
{
     0% { transform: translateY(-50vh); }
     100% { transform: translateY(0); }
}

@keyframes fadeOutSlideDown
{
     0% { transform: translateY(0); }
     100% { transform: translateY(-50vh); }
}

// !SECTION

// SECTION Left

.dropdown .left {
    width: 80%;
    display: inline-block;
    height: 100%;
    z-index: 1;
}

// SECTION Product

.dropdown .left .product {
    margin: 0px 1.5% 0px 1.5%;
    text-align: center;
    width: 30%;
    display: inline-block;
    cursor: pointer;
}

.dropdown .left .product .header-product-img {
    width: 150px;
}

.dropdown .left .product .header-product-title {
    display: block;
    margin-top: 20px;
    color: $primaryColor;
    font-weight: bold;
}

.dropdown .left .product:hover > .header-product-title {
    color: $greyColor;
}

.dropdown .left .product .header-product-text {
    display: block;
    color: $greyColor;
    font-size: 14px;
}

// !SECTION

// !SECTION

// SECTION Right

.dropdown .right {
    width: 20%;
    display: inline-block;
}

.dropdown .right .title {
    color: $primaryColor;
    display: block;
    font-weight: bold;
    margin: 5px 3px;
}

.dropdown .right .text {
    color: $greyColor;
    display: block;
    margin: 5px 3px;
    transition: 0.5s;
}

.dropdown .right .text:hover {
    color: $primaryColor;
}

// !SECTION

// !SECTION

// !SECTION

// SECTION Banner

.banner {
    background-image: url(../src/assets/images/banners/homeBanner.jpg);
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    position: relative;
    // z-index: -2;
}

.banner .left {
    width: 40%;
    height: 100%;
    position: relative;
    left: 5%;
}

.banner .left h2 {
    font-size: 55px;
    font-weight: bold;
    color: $whiteColor;
    letter-spacing: 0.1rem;
}

.banner .left h4 {
    color: $whiteColor;
    letter-spacing: 0.04rem;
    font-size: 20px;
    margin-top: 20px;
}

// !SECTION

// SECTION Trending

.trending {
    margin-bottom: 50px;
}

.trending .product {
    width: 33%;
    display: inline-block;
    text-align: center;
    cursor: default;
}

.trending .product .layer {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.trending .product .product-img .img .layer .size {
    color: #FFf;
}

.trending .product .product-img .img .layer .buttons .button {
    border: 1px solid $whiteColor;
    background-color: transparent;
    display: inline-block;
    margin: 5px 5px;
    cursor: pointer;
}

.trending .product .product-img .img .layer .buttons .button:hover {
    background-color: $whiteColor;
    color: $primaryColor;
}

.trending .product:hover .layer {
    opacity: 1;
    transition: 0.5s ease-in;
    background-color: rgb(17 17 17 / 30%);
}

.trending .product .product-img {
    width: 80%;
    height: 250px;
    background-color: #f2f2f2;
    margin: 0px auto;
}

.trending .product .product-img .flex {
    justify-content: space-around;
}

.trending .product .product-img .img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.trending .product .product-title {
    display: block;
    margin-top: 20px;
    color: $primaryColor;
    font-weight: bold;
}

.trending .product .product-text {
    color: $greyColor;
    display: block;
    margin: 5px 3px;
    transition: 0.5s;
}

// !SECTION

// SECTION Footer 

.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    background-color: #F1F1F1;
    color: #333;
}

.footer a {
    cursor: pointer;
    color: $primaryColor !important;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline !important;
}

// !SECTION

// SECTION Login

.login {
    height: 70vh;
    width: 100%;
}

.login .form {
    text-align: center;
}

.login .form .form-control {
    width: 25%;
    margin: 0px auto;
    margin-top: 20px;
}

.login .form span {
    display: block;
}

.login .form span a {
    cursor: pointer;
    color: $primaryColor;
    text-decoration: underline;
}

// !SECTION

// SECTION Sign-Up

.sign-up {
    height: 75vh;
    width: 100%;
}

.sign-up .form {
    text-align: center;
}

.sign-up .form .col-md-12 {
    width: 30% !important;
    margin: 0px auto;
}

.sign-up .form .col-md-12 .col-md-6 {
    display: inline-block;
}

.sign-up .form .col-md-12 .col-md-6 .form-control {
    width: 90%;
}

.sign-up .form .form-control {
    width: 25%;
    margin: 0px auto;
    margin-top: 20px;
}

.sign-up .form span {
    display: block;
}

.sign-up .form span a {
    cursor: pointer;
    color: $primaryColor;
    text-decoration: underline;
}

// !SECTION

// SECTION Big Product Card

.big-product-card .container {
    background-image: url(assets/images/banners/big-card.jpg);
    width: 100%;
    height: 110vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 60px auto;
    max-width: 100%;
    width: 92%;
}

.big-product-card .container .left {
    width: 35%;
    height: 100%;
    position: relative;
    left: 6%;
}    

.big-product-card .container .left h2 {
    color: $whiteColor;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: .2rem;
}

.big-product-card .container .left h6 {
    color: $whiteColor;
    font-size: 20px;
    letter-spacing: .2rem;
    margin-top: 30px;
    margin-bottom: 40px;
}

// !SECTION

// SECTION Small Product Card

.small-product-card .container {
    max-width: 100%;
    width: 92%;
    padding: 0px;
    margin-bottom: 50px;
}

.small-product-card .container .left {
    background-image: url(assets/images/big-products/1.jpg);
    width: 48%;
    height: 60vh;
    background-position: center;
    background-size: cover;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}

.small-product-card .container .right {
    background-image: url(assets/images/big-products/2.jpg);
    margin-left: 4%;
}

.small-product-card .container .left .right-text {
    width: 50%;
    height: 100%;
    display: inline-block;
    text-align: left;
}

.small-product-card .container .left .right-text .flex {
    flex-direction: column;
    justify-content: center;
}

.small-product-card .container .left .right-text .flex .right-button {
    width: 80%;
    text-align: right;
    margin-top: 40px;
    color: $primaryColor;
    text-decoration: underline;
    cursor: pointer;
    transition: .5s;
}

.small-product-card .container .left .right-text .flex .right-button:hover {
    color: $greyColor;
    text-decoration: none;
}

.small-product-card .container .left .right-text h3 {
    color: $primaryColor;
    font-weight: bold;
    letter-spacing: .2rem;
    line-height: 2.5rem;
}

.small-product-card .container .left .right-text h6 {
    color: $greyColor;
    letter-spacing: .2rem;
    margin-top: 15px;
    line-height: 1.7rem;
}

// !SECTION
