<div class="product">
    <div class="product-img">
        <div class="flex">
            <div class="img" style="background-image: url('../../../../assets/images/2.jpg');">
            <div class="layer">
                <div class="flex">
                    <div>
                        <div class="size">
                            Select size
                        </div>
                        <div class="buttons">
                            <div class="button">
                                16 GB
                            </div>
                            <div class="button">
                                32 GB
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="product-title">MacBook Pro</div>
    <div class="product-text">Keeps things chilled or hot.</div>
</div>

<div class="product">
    <div class="product-img">
        <div class="flex">
            <div class="img" style="background-image: url('../../../../assets/images/2.jpg');">
            <div class="layer">
                <div class="flex">
                    <div>
                        <div class="size">
                            Select size
                        </div>
                        <div class="buttons">
                            <div class="button">
                                16 GB
                            </div>
                            <div class="button">
                                32 GB
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="product-title">MacBook Pro</div>
    <div class="product-text">Keeps things chilled or hot.</div>

</div>

<div class="product">
    <div class="product-img">
        <div class="flex">
            <div class="img" style="background-image: url('../../../../assets/images/2.jpg');">
            <div class="layer">
                <div class="flex">
                    <div>
                        <div class="size">
                            Select size
                        </div>
                        <div class="buttons">
                            <div class="button">
                                16 GB
                            </div>
                            <div class="button">
                                32 GB
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="product-title">MacBook Pro</div>
    <div class="product-text">Keeps things chilled or hot.</div>

</div>
